@import './animation.scss';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Roboto+Mono&display=swap');

@font-face {
  font-family: 'Optician';
  src: url('/assets/fonts/Optician-Sans.ttf');
}

html,
body {
  margin: 0;
  font-size: 14px;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: #fff;
  font-family: 'Roboto Mono', 'Noto Sans JP', monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: none;
}

* {
  box-sizing: border-box;
}

button,
a {
  cursor: none;
}
